<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Contact Us</h4>
                        <!-- <p class="category">Listed below are details of charging appointments</p> -->
                    </div>
                    <div class="box" style="margin-left: 1.5%;">
                    
                     <br> <h4><img class="avatar border-gray" src="assets/img/phone.png" alt="..."/> Contact Number:</h4> 
                        
                        +91-8069289001

                        <br><br>  
                        <h4><img class="avatar border-gray" src="assets/img/mail.png" alt="..."/>Email Address:</h4>
                        
                        evoltapplication@outlook.com
                    
                        
                        <br><br>
                        <h4><img class="avatar border-gray" src="assets/img/building.png" alt="..."/> Head Office Address:</h4>
                        <br>
                        No.143, 9th Floor, Sovereign Corporate Tower, Sector- 136, Noida, Uttar Pradesh.
                        Pincode: 201305
                        <br><br>
                        <h4>Other Offices:</h4>
                                            

                        Noida: No.34, 8th Floor Tower-B, B-808, Advant Navis Business Park, Sector 142, Noida,
                        Gautam Buddha Nagar, Uttar Pradesh-201305
                        <br><br>
                        Gurgaon: 3rd Floor, Regus Co-Working, Tower – A, Unitech Cyber Park, Sector – 39,
                        Gurgaon, Haryana-122003
                        
                        <br><br>
                        Bangalore: L-77, 15th Cross, 3rd Main Sector 6, HSR Layout, Bangalore-560102

                        <br><br>
                        Chennai: No.78, Avvai Shanmugham Salai, Royapettah, Chennai-600014

                        <br><br>
                        <hr>
                        <div class="text-center">
                            <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                            <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                            <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>
                        </div>
    
                    </div>
                </div>
            </div>
            
        </div>


    

       

    </div>
</div>
